.btn.disabled, .btn:disabled {
  opacity: 1;
}

.vh-50 {
  height: 50vh;
}

button {
  max-width: 50%;
}

.filler {
  height: 1.75rem;
  margin-bottom: 0.5rem;
}

#leftButton, #rightButton {
  min-width: 50%;
  min-height: 100%;
}

#homeButton, #leaderboardButton {
  min-width: 100%;
  padding: 0.3rem;
}

#buttonGroup {
  min-width: 100%;
}

.heart {
  font-size: 2rem;
}

.volume-icon {
  font-size: 2rem;
}

@media only screen and (max-width: 500px) {
  #homeButton, #leaderboardButton {
    font-size: 0.625rem;
  }
}
